{% extends "base.html" %}

{% block content %}
<center>
<div class="column is-three-quarters">
<div class="box has-text-black">
  <image src="logo.png"></image>
  <h2 class="subtitle" style="color: black;">
    We are a team of MIT students and professors working with Miami-Dade county and the 
    <br> MIT Office of Sustainability to develop products that provide data-driven insights
    <br> about the current climate and the extent of heat faced by people. Login to access
    <br> data collected by our devices!
    <br>
    <br>
    <p>For additional features or login access, reach out to gaurabd [at] mit [dot] edu.</p>
  </h2>
</div>
</div>
</center>

<br>
<!-- <center> <h3 class="title">Aclimatic!</h3> </center> -->
{% endblock %}