{% extends "base.html" %}

{% block content %}
<center> <h3 class="title">Aclimatik!</h3> </center>
<h2 class="subtitle">
  We are a team of MIT students and professors working with Miami-Dade county and the 
  <br> MIT Office of Sustainability to develop products that provide data-driven insights
  <br> about the current climate and the extent of heat faced by people. Login to access
  <br> data collected by our devices!
  <br>
  <br>
  <p>For questions or login access, reach out to gaurabd [at] mit [dot] edu.</p>
</h2>
{% endblock %}